@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F4F4F4;

}
nav {
    box-shadow: 0px -2px 18px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px -2px 18px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px -2px 18px rgba(0, 0, 0, 0.25);
}

.vote-controls button {
    font-size: 40px;
    height: 35px;
}
.vote-count {
    font-size: 14px;
}

.post-metrics {
    border-top-width: 1px;
}

.user-role-post-label {
    width: 21px;
    height: 37px;
}
.user-role-green {
    background-color: #83A97D;
}
.user-role-red {
    background-color: #935555;
}
.user-role-blue {
    background-color: #587197;
}

.post-link {
    color: #00344A;
}

.upvoted {
    color: rgb(145, 50, 50);
}

.downvoted {
    color: rgb(65, 65, 207);
}

/* For unavailable links/anchor tags */
.disabled-link {
    pointer-events: none;
    opacity: 0.5;
  }